

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.inputOne {
	width: 300px;
	height: 100px;
	font-size: 50px;
}

.listTodo {
	text-align: left;
}

ul {
	border-radius: 1rem;
	background-color: rgb(20, 20, 20);
	padding: 1rem 2rem;
}
