:root {
	display: flex;
	justify-content: center;
	align-items: center;

}

span {
	display: flex;
	justify-content: right;
	margin: auto;
	font-size: large;
	background-color: rgb(54, 54, 54);
	color: rgb(255, 255, 255);
	border-radius: 15px;
	padding-right: 15px;
	margin-bottom: 10px ;
	width: 200px;
	height: 30px;
}

.calculator {
	margin: auto;

	width: 200px;
	height: 200px;
}

.arithmeticOperators {
	display: block;
	float: inline-end;
	background-color: rgb(238, 56, 56);
}

.arithmeticMinus {
	padding-left: 31px;
}

.reset {
	display: block;
	float: inline-end;
	background-color: white;
	color: black;
}
