h1 {
	color: aliceblue;
	font-size: 3.6em;
}

.expression {
	background-color: rgb(51, 51, 51);
	margin: auto;
	text-align: right;
	width: 300px;
	height: 40px;
	font-size: 2em;
	border: 1px solid rgb(77, 77, 77);
	border-radius: 10px;
	padding-right: 8px;
}

.expressionResult {
	color: rgb(255, 70, 70);
}

.expressionNotResult {
	color: aliceblue;
}

.calc {
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculatorNum {
	width: 315px;
	margin-top: 15px;
}

.calculatorOp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1px;
	max-width: 210px;
	align-self: flex-start;
	margin-top: 15px;

}

.btnNum:hover {
	background-color: rgb(29, 29, 29);
}

.opAndRes {
	background-color: brown;
}

.opAndRes:hover {
	border: 2px solid rgb(151, 86, 86);
	background-color: rgb(220, 54, 54);
}

.opAndRes:focus {
	border: 2px solid rgb(159, 118, 118);
	outline: none;
}

.opAndRes:active {
	font-size: 2.1em;
}

.resetAndResult {
	color: black;
	background-color: rgb(255, 200, 247);
}

.resetAndResult:hover {
	background-color: rgb(255, 255, 255);
}

.resetAndResult:focus {
	broder: 2px solid black
}
