#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.calculator {
	max-width: 1280px;
	margin: 0 auto;
	padding: 5px;
	text-align: center;
}

.arithmeticOperators {
	background-color: rgb(238, 56, 56);
}

.arithmeticMinus {
	padding-left: 31px;
}

.reset {
	background-color: white;
	color: black;
}

.input {
	width: 385px;
	height: 60px;
	font-size: 50px;
	border-radius: 15px 15px 1px 1px;
	border-color: rgba(101, 101, 101, 0);
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type='number'] {
	-moz-appearance: textfield;
}
