h1 {
	color: aliceblue;
	font-size: 3.6em;
}


.expression {
	background-color: rgb(51, 51, 51);
	margin: auto;
	text-align: right;
	width: 300px;
	height: 40px;
	font-size: 2em;
	border-radius: 10px;
	padding-right: 8px;
}

.expressionResult {
	color: rgb(255, 70, 70);
}

.expressionNotResult {
	color: aliceblue;
}

.calc {
	display: flex;
	justify-content: center;
	align-items: center;
}

.calculatorNum {
	width: 315px;
	margin-top: 15px;
}


.calculatorOp {
	display: flex;
	flex-direction: column;
	margin-top: 15px;

}

.opAndRes {
	background-color: brown;
}
