.windowWithMessage {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	justify-self: center;
	width: 75%;
}

.windowOfInput {
	display: flex;
	position: fixed;
	justify-content: center;
	justify-content: center;
	align-self: center;
	text-align: center;
	width: 100vw;
	bottom: 0;
	margin-bottom: 4vw;
}

.inputMessage {
	height: 3vw;
	width: 50vw;
	border-radius: 5vw;
	border-style: none;
	background-color: rgb(31, 31, 31);
	color: white;
	padding-left: 2vw;
	font-size: 2vw;
	box-shadow: 1vw 1vw 2vw black;
	margin-right: 2vw;
	resize: none;
	justify-self: center;
	align-items: center;
}

.inputButton {
	border-radius: 5vw;
	border-style: none;
	background-color: rgb(126, 115, 252);
	color: white;
	box-shadow: 1vw 1vw 3vw black;
	height: 4vw;
	font-size: 1vw;
	font-weight: bolder;
}

.inputButton:active {
	background-color: rgb(149, 140, 249);
}

.forms {
	display: flex;
	justify-content: center;
	align-content: center;

}

.message {
  list-style: none;
  background-color: rgb(255, 148, 17);
  color: white;
  padding: 1vw 2vw;
  border-radius: 5vw;
  margin-top: 0.3vw;
  font-size: 1.5vw;
  text-align: end;

  /* Ключевые исправления: */
  max-width: 80%;     /* Не больше 80% от ширины контейнера */
  width: fit-content; /* Берет ширину по содержимому, но не больше max-width */
  align-self: flex-end; /* Прижимает элемент к правому краю колонки */
  box-sizing: border-box; /* Учитывает padding в ширине */
}
