body {
	background-color: rgb(25, 25, 25);
	text-align: center;
}

button {
	width: 100px;
	height: 100px;
	margin: 2px;
	border-radius: 15px;
	background-color: rgb(16, 16, 16);
	color: aliceblue;
	font-size: 2em;
	border: none;

	transition: border-color 0.3s ease;
}
button:hover {
	border: 2px solid rgb(82, 82, 82);
	background-color: rgb(12, 12, 12);
}

button:focus {
	border: 2px solid rgb(138, 138, 138);
	outline: none;
}

