.windowTodos {
	background-color: rgb(20, 20, 20);
	padding: 1rem;
	border-radius: 1rem;
	width: 30rem;
}



.listOfTodos {
	display: flex;
	flex-direction: column;
	background-color: #3e3e3e;
	border: 0.1rem solid rgb(179, 179, 179);
}

.containerHeader {
	display: flex;
	justify-self: left;
}
.headerTodos {
	background-color: rgb(28, 28, 28);
	border-radius: 0.5rem;
	padding-bottom: 0.4rem;
	width: 20rem;
}

form {
	display: flex;
	justify-self: left;
	height: 2.6rem;
}

.error {
	background-color: rgb(155, 8, 8);
	color: white;
	border-radius: 1rem;
	padding: 1rem;
	margin: 1rem;

}

.containerError {
	border-bottom: 0.1rem solid rgb(116, 116, 116);
}

.containerButtonsCRUD {
	display: flex;
	justify-content: center;
}

.containerTodos {
	margin-top: 1rem;
}

.todos {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.1rem solid rgb(116, 116, 116);
}

.todo {
	display: flex;
	align-items: center;
	margin-left: 0.2rem;
	font-size: 1.3rem;
	border: none;
	width: 24rem;
	background-color: #3e3e3e;
}

.todo:focus {
	outline: none;
	background-color: #5e5e5e;
	border-radius: 1rem;
}

.todo:hover {
	background-color: #5e5e5e;
	border-radius: 1rem;
}

.buttonTodo {
	display: flex;
	margin: 0.3rem;
	align-items: center;
}

.deleteTodo {
	margin: 0.1rem;
	height: 1.6rem;
}

.deleteTodo:hover {
	background-color: rgb(191, 44, 44);
}

.updateTodo {
	margin: 0.1rem;
	height: 1.6rem;
}

.updateTodo:hover {
	background-color: rgb(15, 164, 164);
}
