.inputList {
	width: 22rem;
	height: 2.4rem;
	border-top-left-radius: 1rem;
	border-style: none;
	border-top: 0.1rem solid rgb(179, 179, 179);
	border-left: 0.1rem solid rgb(179, 179, 179);
	border-right: 0.1rem solid rgb(179, 179, 179);
	font-size: 1.3rem;
	padding-left: 0.5rem;
}

.containerButtonsOfInput {
	display: flex;
	justify-content: left;
	width: 10rem;

}


.buttonAddInput {
	border: 1px solid transparent;
	padding: 0.6rem 0.5rem;
	border: 2px solid rgb(255, 214, 214);
	font-size: 1rem;
	font-weight: 500;
	font-family: inherit;
	background-color: #626262;
	cursor: pointer;
	width: 3.6rem;
}

.buttonAddInput:hover {
	background-color: rgb(91, 243, 68);
}

.buttonResetInput {
	border-top-right-radius: 0.5rem;
	padding: 0.6rem 0.5rem;
	border: 3px solid transparent;
	border: 2px solid rgb(255, 214, 214);
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #626262;
	cursor: pointer;
	transition: border-color 0.25s;
	width: 3.6rem;
}

.buttonResetInput:hover {
	background-color: rgb(191, 44, 44);
}
